{
  "extends": [
    "@react-bootstrap",
    "4catalyzer-typescript",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "prettier",
    "react-hooks"
  ],
  "rules": {
    "import/extensions": "off",
    "prettier/prettier": "warn",
    "react-hooks/rules-of-hooks": "error", 
    "react-hooks/exhaustive-deps": "warn"  
  }
}
